#home {
    width: 100%;
    height: 100vh;
    background-color: #FEEDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}


#home .wrapper-home {
    width: 94.5%;
    height: 95%;
    position: relative;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
}   


#home .titles {
    height: 10%;
}
#home .content {
   width: 63%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

#home .wrapper-3boxes {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 75%;
}

#home .content .content-flexi {
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


#home .content .small-b {
    height:  80%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
}
#home .content .small-b:nth-child(1) {
   margin: 10px 0;
}
#home .content .small-b:nth-child(2) {
   margin: 20px 0;
}
#home .big-b {
    border-radius: 15px;
    width: 35%;
    background-color: white;
}
#home .content .box {
    border-radius: 15px;
}
#home .titles {
    font-family: "Poppins", sans-serif;
    color: rgb(191, 191, 191);
}
#home .titles  h3{
    font-size: 2rem;
    font-weight: 300;
    color: var(--primary-color);
    padding-top: 20px;
}


#home .notes{
    display: flex;
    overflow-x: auto;
    width: auto;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    padding: 0  20px ;
}
#home .note h4{
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
    text-decoration: none;
}
#home .note-a{
    text-decoration: none;
}
#home .note{
    width: 120px;
    background-color: #ff9029;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 1vh 1vw;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .1s ease;
    text-decoration: none;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#home .note:hover{
    transform: scale(1.03);
}
#home .title {
   display: flex;
   color: var(--primary-color);
   align-items: center !important;
   font-family: "Poppins", sans-serif;
   padding-left: 20px;
}
#home .title h3{
   font-size: 1rem;
   font-weight: 500;
   margin-left: 10px;
}
#home .title .titles-icon{
   font-size: 1rem;
}

#home .title .create-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: 10px;
    color: var(--primary-color) !important;
}

#home .only_notes {
    position: relative;
}

#home .move_right {
    width: 5%;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    align-items: center;
    height: 10%;
    color: #ff9029f9;
    z-index: 50;
    border-radius: 0 15px 15px 0;
}
#home .move_right .icon{
    font-size: 1.2rem;
}



#home .notes::-webkit-scrollbar {
    display: none;
}
  

#home .unseen-wrp {
    padding: 0 20px;
    display: flex;
    margin: 10px 0;
    height: 60%;
}


#home .no-new-messages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-weight: 300;
    text-align: center;
    color: #ff7b0049;
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-family: "Poppins", sans-serif;
}


#home .pozvanka img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#home textarea {
    width: calc(100% - 30px);
    height: 5vh;
    background-color: #fff2e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 12px 15px;
    font-size: .8rem;
    color: #FF7A00;
    outline: none;
    border: none;
    margin-top: 20px;
}

#home textarea::placeholder{
    font-size: .8rem;
    color: #FF7A00;
}

#home button{
    width: 100%;
    border-radius: 10px;
    padding: 10px 25px;
    height: 40px;
    font-size: .8rem;
    background-color: #FF7A00;
    outline: none;
    color: #fff2e7;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#home button:disabled{
    background-color:#ff7b008d;
    cursor:default;
}

#home .loader-b {
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #FEEDDD;
    border-radius: 50%;
    animation: rot 1s ease infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#home .schoolep_wrp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    align-items: center;
    flex-direction: column;
}
#home .schoolep_wrp img{
    width: 55px;
    animation: up_down2 1s ease-in-out infinite;
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
}

@keyframes up_down2 {
    0%{top: 33%;}
    50%{top:35%;}
    100%{top: 33%;}
}

#home .schoolep_wrp h3{
    width: 70%;
    text-align: center;
    color: #FF7A00;
    font-size: .7rem;
    width: 30%;
    margin-top: 40px;
    font-weight: 300;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}
#home .link-to-ai{
    width: 100%;
    height: 100%;
}

#home .profile-right .profile{
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   height: 100%;
}
#home .profile-right .profile .titles{
   width: 80%;
   height: auto;
   overflow: hidden;
}
#home .profile-right img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin-bottom: 1rem;
}
#home .profile-right .bio{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#home .profile-right .mood-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

#home .profile-right .moods{
   width: 80%;
}
#home .profile-right .mood-wrapper span{
   font-size: 2rem;
   width: 15%;
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: center;
   transition: transform .3s ease;
   cursor: pointer;
}
#home .profile-right .mood-wrapper span.active{
   background: #ffe8d3;
   border-radius: 50%;
}
#home .profile-right .mood-wrapper span:hover{
   transform: scale(1.2);
}
#home .profile-right h3{
   color: #FF7A00;
   font-size: .9rem;
   font-weight: 300;
   font-family: "Poppins", sans-serif;
}

#home .profile-right p{
   color: #ff800071;
   font-size: .7rem;
   margin-bottom: 1rem;
   font-weight: 300;
   font-family: "Poppins", sans-serif;
}

#home .no-notes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-weight: 300;
    text-align: center;
    color: #ff7b0049;
    font-size: 1rem;
    letter-spacing: 1.5px;
    font-family: "Poppins", sans-serif;
}
#home .titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home .profile .titles h3.email {
    color: #FF7A00;
    padding-top: 0;
   font-size: 1.2rem;
   font-weight: 500;
   width: 90%;
   text-align: center;
   font-family: "Poppins", sans-serif;
}



@media(max-width: 1000px) {
    #home {
        height: 200vh;
    }
    
    
    #home .wrapper-home {
        align-items: center;
        flex-direction: column;
    }  
    #home .content {
        width: 100%;
        height: 100%;
    }
    #home .big-b {
        width: 70%;
        height: 100%;
        margin-top: 30px;
    }
    #home .titles{
        margin-bottom: 20px;
    }
  
    #home .big-b {
        width: 100%;
        height: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    #home .profile-right .profile {
        width: 60%;
        height: 100%;
    }
    #home .profile .titles h3.email {
        width: 100%;
    }
    #home .note {
        font-size: 1rem;
        padding: 1vh 4vw;
        margin: 0 5px;
    }
    #home .notes {
        column-gap: 0;
    }
    #home .css-i4bv87-MuiSvgIcon-root {
        width: .9rem !important;
    }
    #home .note h4 {
        font-size: .6rem;
    }
    #home .notes {
        margin-top: 18px;
    }
    #home .schoolep_wrp img {
        width: 35px;
    }
    #home .schoolep_wrp h3 {
        width: 80%;
        margin-top: 20px;
    }
    #home .no-notes, #home .no-new-messages {
        font-size: .7rem;
    }
}

@media(max-width: 500px) {
    #home .profile-right .profile {
        width: 90%;
        height: 100%;
    }
    #home .profile-right .mood-wrapper span {
        width: 50px;
        height: 50px;
    }
}