/*
#settings {
    width: 100%;
    height: 100vh;
    background-color: #FEEDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings .wrapper-settigns {
    width: 94.5%;
    height: 95%;
    border-radius: 20px;
    position: relative;
    background-color: white;
}
#settings .titles h2 {
   color: var(--primary-color);
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-size: 1.8rem;
}
#settings .content img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
#settings .content .wrapper{
  display: flex;
  flex-direction: column;
}
#settings .content {
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 80%;

}
#settings .content .password, #settings .content .username {
   display: inline-flex;
   flex-direction: column;
   margin: 20px 0;
}
#settings h4{
   font-size: 1rem;
   font-family: "Poppins", sans-serif;
   color: #FF7A00;
   font-weight: 500;
   margin-bottom: 10px;
}

#settings input{
   width: 76%;
   background-color: #fff2e7;
   border-radius: 10px;
   padding: 15px 20px;
   font-size: .8rem;
   color: #FF7A00;
   outline: none;
   border: none;
   margin: 2px 0;
}
#settings input::placeholder {
   font-size: .8rem;
    color: #ffb876;
}


#settings button {
   border-radius: 10px;
   padding: 12px 20px;
   width: 60%;
   font-size: .8rem;
   background-color: #FF7A00;
   outline: none;
   color: #fff2e7;
   border: none;
   cursor: pointer;
   margin: 5px 0;
}


*/



#settings {
   width: 100%;
   height: 100vh;
   background-color: #FEEDDD;
   display: flex;
   justify-content: center;
   align-items: center;
}

#settings .wrapper-settings {
   width: 94.5%;
   height: 95%;
   border-radius: 20px;
   position: relative;
   background-color: white;
}