:root {
    --width-left: 23%
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
}


#main .left-side {
    width: var(--width-left);
    height: 100%;
    background-color: #FEEDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .wrapper-navbar {
    width: 94%;
    height: 97%;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 15px;
}
#main .left-side nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8vh 0;
    position: relative;
}
#main .left-side nav ul{
   list-style: none;
   width: 100%;
   margin-top: 10vh;
}

#main .left-side nav ul a{
   background-color: transparent;
   width: 75%;
   border-radius: 15px;
   display: flex;
   align-items: center;
   color: white !important;
   cursor: pointer;
   transition: background .3s ease;
   color: white;
   font-family: "Poppins", sans-serif;
   text-decoration: none;
   font-weight: 600;
   font-size: 1rem;
   padding: 2vh 1vh;
   margin: 1.2vh auto;
}

#main .left-side nav ul a .MuiSvgIcon-root {
   font-size: 22px;
   padding-right: 20px;
   padding-left: 15px;
}





#main .left-side nav ul a:hover, #main .left-side nav ul a.active, #main .left-side nav ul a:active{
   background-color: rgba(255, 255, 255, 0.517);
}



#main .left-side nav img {
    width: 30px;
}


.ul-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main .right-side {
    width: calc(100% - var(--width-left));
}

#main .arrow-back-mobile {
    display: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
}



#menu {
    transition: left .3s ease;
}

.left-menu {
    left: 0 !important;
}

#main .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    cursor: pointer;
}
#main .logout .icon {
    font-size: 1.2rem;
}

#main .logout h4 {
    font-weight: 400;
    margin-left: 10px;
}

.mobile_top_bar {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.mobile_top_bar .profile{
    display: flex;
    align-items: center;
}
.mobile_top_bar .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
}
.mobile_top_bar .profile h3{
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}

#main .right-side .menu-bar-icon {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 15px;
}

#children {
    height: 90vh;
}


@media (max-width: 1100px) {
    #main {
        width: 100%;
        height: 100vh;
        display: block;
    }
    #main .arrow-back-mobile {
        display: block;
    }
    #main .left-side {
        width: 100%;
        height: 100%;
        position: fixed;
        left: -100%;
        z-index: 100 !important;
    }
    #main .right-side {
        width: 100%;
    }
    #main .left-side nav ul{
        list-style: none;
        width: 70%;
     }
    #main .left-side nav {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 0;
     }
     #main .right-side .menu-bar-icon {
        display: block;
     }
     .mobile_top_bar {
        display: inline-flex;
     }
     #main .wrapper-navbar {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    #children {
        height: calc(100vh - 5rem);
    }
}



#verify {
    width: 100%;
    height: 100vh;
}

#verify {
    background-color: #fff5ec;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF7A00;
    font-family: "Poppins", sans-serif;
}
#verify h2{
   font-size: 2rem;
   font-style: italic;
}
#verify p{
   font-size: 1.1rem;
   font-weight: 100;
   margin-top: 2px;
}
#verify .primary-color{
   font-weight: 500;
}

#verify .wrp {
    width: 70%;
}


#verify button {
    padding: 12px 0;
    width: clamp(100px, 80%, 200px);
    border: none;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: min(.7rem, 2.5vw);
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: background .3s ease-in;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verify .lgt {
   margin-left: 10px;
} 


#verify button:hover {
    background-color:#ff7b00d5;
}
#verify button:disabled {
    background-color:#ff7b008d;
    cursor:default;
}
#verify .emil {
   text-decoration:underline ;
}

#verify .btn-loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-bottom: 2px solid white;
    animation: rot 1s ease infinite;
}
#verify .btn-wrp{
    display: flex;
    margin-top: 30px;
}



@media (max-height: 700px) {
    #verify {
        width: 100%;
        height: 50rem;
    }
    #verify .wrp {
        width: 80%;
    }
    
    
}

@media (max-height: 500px) {
    #verify {
        width: 100%;
        height: 60rem !important;
    }
    
}


@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



#banned {
    background-color: #fff5ec;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF7A00;
    font-family: "Poppins", sans-serif;
}

#banned h2{
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
 }
#banned h3{
    font-size: 2rem;
    font-style: italic;
    margin-top: 1rem;
 }
 #banned p{
    font-size: 1.1rem;
    font-weight: 100;
 }
 #banned .primary-color{
    font-weight: 500;
 }
 
 #banned .wrp {
     width: 50%;
 }
 
 
 #banned button {
     padding: 12px 0;
     width: clamp(100px, 80%, 200px);
     border: none;
     background-color: var(--primary-color);
     font-family: 'Poppins', sans-serif;
     color: white;
     font-size: min(.7rem, 2.5vw);
     font-weight: 700;
     border-radius: 8px;
     cursor: pointer;
     transition: background .3s ease-in;
     height: 50px !important;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 2rem;
 }
 
 #banned button:hover {
    background-color:#ff7b00d5;
}

#banned a {
    color: #FF7A00;
    text-decoration: underline;
}


@media (max-height: 700px) {
    #banned {
        width: 100%;
        height: 50rem;
    }
    #banned .wrp {
        width: 80%;
    }
    
    
}

@media (max-height: 500px) {
    #banned {
        width: 100%;
        height: 60rem !important;
    }
    
}